@import '../../styles.scss';

.layout-container {
  display: flex;
  flex-direction: column;

  .layout-title {
    display: flex;
    height: $title-height;
    position: fixed;
    width: $container-width;
    z-index: $z-top;
    border-bottom-width: 1px;
    background-color: $surface-background;
    backdrop-filter: blur($blur-radius);
    padding: 0 16px;
  }

  .layout-content {
    &:before {
      content: '';
      display: block;
      height: $bottom-height;
    }

    &.use-bottom:after {
      content: '';
      display: block;
      height: $title-height;
    }
  }

  .layout-bottom {
    height: $bottom-height;
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 0;
    padding: $padding-value;
    z-index: $z-top;
    width: $container-width;
    border-top-width: 1px;
    background-color: rgba(255, 255, 255, $opacity);
    backdrop-filter: blur($blur-radius);
  }
}