@import '../../styles.scss';

$bottom-height: 64px;

.chat-page {
  display: flex;
  flex-direction: column;

  .chat-title {
    height: $title-height;
    position: fixed;
    width: $container-width;
    z-index: 100;
    border-bottom-width: 1px;
    background-color: $surface-background;
    backdrop-filter: blur($blur-radius);
    padding: 0 16px;
  }

  .chat-content {
    &:after {
      content: '';
      display: block;
      height: $title-height;
    }

    &:before {
      content: '';
      display: block;
      height: $bottom-height;
    }
  }

  .chat-bottom {
    height: $bottom-height;
    position: fixed;
    bottom: 0;
    padding: $padding-value;
    z-index: 100;
    width: $container-width;
    border-top-width: 1px;
    background-color: rgba(255, 255, 255, $opacity);
    backdrop-filter: blur($blur-radius);
  }
}
