@import '../../styles.scss';

.message-tile {
  padding: 8px 8px;

  .role-sign {
    display: flex;
    align-items: baseline;

    .name-text {
      color: gray;
      font-weight: bold;
      letter-spacing: normal;
      font-size: 12px;
      margin-left: 4px;
    }
  }

  .user-message {
    padding: 4px;
    line-height: 24px;

    .text-content {
      padding: 8px;
      margin: 0 4px;
      word-break: break-word;
      border-width: 1px;
      backdrop-filter: blur($blur-radius);
      background: $surface-background;
      transition: background-color 0.2s;

      &:hover {
        background: #ffffff;
      }
    }
  }
}