@import '../../styles.scss';

.app-sidebar {
  position: fixed;
  overflow: auto;
  width: $sider-width;
  height: 100vh;
  border-right-width: 1px;

  &::-webkit-scrollbar-track {
    margin-top: $title-height;
  }

  .side-title {
    backdrop-filter: blur($blur-radius);
    z-index: $z-top;
    width: inherit;
    height: $title-height;
    border-bottom-width: 1px;
    position: fixed;
    padding: $padding-value;
  }

  .side-panel {
    padding: $padding-value;
    margin-top: $title-height;
  }
}
